@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, html {
    margin: 0;
    font-family: Poppins, sans-serif;
}

* {
    box-sizing: border-box;
}

.navbar {
    border-bottom: 1px solid black;
    .nav-container {
        display: flex;
        margin: .5em 1.5em .5em 1.5em;
        .logo {
            a{
                font-size: 25px;
                font-weight: bold;
                text-decoration: none;
                color: black;
            }

        }

        nav {
            //display: none;
            ul {
                text-align: center;
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: black;
                    display: block;
                    text-align: center;
                }
            }   
        }
        .mobile-menu {
            margin: .5em 0 0 auto;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.hero {
    margin: 1.5em;
    .container {
        text-align: center;
        h1 {
            font-size: 2.5em;
            margin-top: 1em;
            margin-bottom: 0;
        }
        p {
            font-size: 1,2em;
            margin: 0 2em 3em 2em;
            font-weight: lighter;
        }

        span {
            display: block;
        }

        .feature {
            border: 1px solid black;
            background-color: white;
            position: absolute;
            padding: .3em 1em;
            top: 14.5em;
            label {
                font-size: 1em;
                font-weight: lighter;
            }
            
        }
        margin: 0 0 3.5em 0;
    }
    .hero-card {
        border: 2px solid rgb(209, 207, 207);
        text-align: left;
        img {
            width: 100%;
        }
        .featured-info-container {
            margin: 2em;
           
            .time {
                font-size: small;
                margin: -.5em;
            }
            span {
                display: inline;
            }
            .group-info {
                font-weight: 500;
                margin: -.5em;
                p {
                    margin: 0;
                }

                &:hover {
                    p, h2{
                        color: rgba(26, 134, 77, 1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.break {
    margin: 0;
    width: 100vw;
    border-bottom: 1px solid black;
}

.myblog {
    margin: 3.5em 0;
    text-align: center;
    .container {
        margin: 1.5em;
        .primary-container {
            border: 1px solid black;
            margin: 2em 0;
            text-align: left;
        img {
            width: 100%;
        }
            span {
                font-size: small;
            }
        }

        .secondary-container {
            border: 1px solid black;
            margin: 2em 0;
            text-align: left;

        img {
            width: 100%;
        }
            span {
                font-size: small;
            }
        }

        .tertiary-container {
            border: 1px solid black;
            margin: 2em 0;
            text-align: left;

        img {
            width: 100%;
        }
            span {
                font-size: small;
            }
        }

        article {
            &:hover {
                h2,p {
                    color: rgba(26, 134, 77, 1);
                    cursor: pointer;
                }
            }
            margin: 1.5em;
        }
    }
    button {
            font-size: medium;
            background-color: rgba(26, 134, 77, 1);
            color: white;
            border: none;
            border-radius: 50px;
            padding: .5em 2.5em;
            margin: 1em 0;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
}

.about {
    .container {
        margin: 3.5em 0;
        .primary-container {
            margin: 1.5em;
            article {
                h2 {
                    font-size: medium;
                    font-weight: lighter;
                }
                p {
                    font-size: 1.3em;
                    font-weight: bold;
                }
            }
            button {
            font-size: medium;
            background-color: rgba(26, 134, 77, 1);
            color: white;
            border: none;
            border-radius: 50px;
            padding: .5em 2.5em;
            margin: 1em 0;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            }

            img {
                margin: 1em 0;
                width: 100%;
                border: 1px solid black;
            }
        }
        .secondary-container {
            margin: 1.5em;
            article {
                h2 {
                    margin: 1em 0;
                }
            }

            img {
                width: 100%;
                border: 1px solid black;
            }
        }
    }
}

#contact {
    background-image: url("../img/11062b_a05955ed1c70427da0c0da8b85a42836f000.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact {
    margin: 0 1.5em;
    padding: 3em 0;
    h1 {
        text-align: center;
        margin: 0 0 1em 0;
    }
    .container {
        background-color: white;
        border: 1px solid black;
        padding: 2em;
        label {
            display: flex;
        }
        input {
            width: 100%;
            padding: 1em;
            margin: 1em 0;
        }

        textarea {
            width: 100%;
            padding: 1em 1em 9em 1em;
            margin: 1em 0;
            resize: none;

        }

        button {
            border: none;
            width: 100%;
            background-color: black;
            color: white;
            font-size: medium;
            border-radius: 25px;
            height: 3em;

            &:hover {
                cursor: pointer;
                background-color: rgba(26, 134, 77, 1);
            }
        }
    }
}

footer {
    margin: 1.5em;
    font-size: small;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        gap: 20px;

        li {
            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        span {
            text-decoration: underline;
        }
    }

    .secondary-container {
        ul {
            img {
                margin: 1.5em 0 0 0;
                width: 2em;
            }
        }
    }

    .priv-container {
        margin: 2em 0;
        color: black;
    }

    .logo {
        font-size: 3em;
        font-weight: bold;
    }

}


nav.open-menu {
    display: block;
}

nav {
    display: none; 
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    left: 0;
    top: 0;
    
   
    .collapse-menu {
        position: absolute;
        top: 2em;
        right: 2em;
        width: 25px;
        cursor: pointer;
    }

    ul {
        text-align: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .primary-nav {
        margin: 6em auto 0;
        width: 100%; 
        border-left: 1px solid black; 
        border-right: 1px solid black;
        
        li {
            border-bottom: 1px solid black;
            
            &:last-child {
                border-bottom: none;
            }

            a {
                display: block;
                padding: 1.5em;
                margin: 0;
                text-decoration: none;
                color: black;
                
               
                &.active {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    color: rgba(26, 134, 77, 1);
                }
            }
        }
    }

   
    .secondary-nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 3em;

        li a img {
            width: 20px;
        }
    }
}

@media only screen and (min-width: 820px), (min-height: 1180px) {
    .navbar {
        font-size: 1.5em;
        .nav-container {
            .logo {
                a{
                    font-size: 3em;
                    margin-left: .5em;
                }
            }
           .secondary-nav {
                li a img {
                    width: 2em;
                }
            }
            

            .mobile-menu {
                width: 3em;
                margin: 1em 2.5em 1em auto;
                
            }
        }
    }


    .hero{
        .container {
            margin: 0 2em 15em 2em;
            h1 {
                font-size: 4.5em;
                margin-top: 1em;
            }
            p {
                margin-top: .5em;
                font-size: 2em;
            }
            .feature {
               position: absolute; 
               top: 28em;
               padding: 1em 4.5em .5em 1.5em;

               label {
                font-size: 1.5em;
                font-weight: lighter;
               }
            }
            .hero-card {
                .featured-info-container {
                    .time {
                        font-size: smaller;
                        margin-left: -.5em;
                        span{
                            display: inline;
                        }
                    }
                    .group-info {
                        h2 {
                            font-size: large;
                            font-weight: bold;
                        }

                        p {
                            font-size: large;
                            font-weight: lighter;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .myblog {
        text-align: center;
        h2 {
            font-size: 3em;
            margin-bottom: 1.5em;
        }
        .container {
            margin: 3em;
            display: flex;
            flex-direction: row;
            gap: 2em;
            flex: 1;
            object-fit: cover;
            flex-grow: 1;

            .primary-container {
                article {
                    h2 {
                        font-size: small;
                        font-weight: lighter;
                    }
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .secondary-container {
                article {
                    h2 {
                        font-size: small;
                        font-weight: lighter;
                    }
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .tertiary-container {
                article {
                    h2 {
                        font-size: small;
                        font-weight: lighter;
                    }
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        button {
            font-size: 2em;
            font-weight: lighter;
            padding-left: 2.5em;
            padding-right: 2.5em;
        }
    }
    .about {
        .container {
            .primary-container {
                margin: 2.8em;
                padding-top: 3em;
                article {
                    h2 {
                        font-size: 1.8em;
                        font-weight: lighter;
                    }
                    p {
                        font-size: 2em;
                        font-weight: 500;
                    }
                }
                button {
                    font-size: 1.8em;
                }
            }
            .secondary-container {
                margin: 2.8em;
                article {
                    padding-top: 1em;
                    font-size: 1.5em;
                    h2 {
                        font-size: 3em;
                        font-weight: 600;
                    }
                    span {
                        display: block;
                    }
                    p{
                        margin-right: 2em;
                    }
                }
            }
        }
    }

    .contact {
        h1 {
            font-size: 3em;
            span {
                display: block;
            }
        }
        .container {
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 30em;
            
            .fillout-form-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                .user {
                    display: flex;
                    gap: 25px;
                    span {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                    }
                }
                button {
                    margin-left: auto;
                    height: 2.6em;
                    width: 14em;

                }
            }
        }
    }
    footer{
        font-size: x-large;
        margin: 3em 2em;
    }
}